{% extends 'core/base.html' %}

{% block title %}Contact List{% endblock %}

{% block content %}
<div class="max-w-full mx-auto mt-10">
    <h2 class="text-3xl font-bold mb-6 text-center">Contact List</h2>

    
    <div class="mb-4 px-2 py-4 ">

        <!-- Contact List Section -->
        <div class=" mb-4 px-2 py-4 flex-col flex md:flex-row">
            <!-- Bulk Actions Selection Form -->
            <form class="">
                <!-- <div class="mb-1 px-4 flex-col flex md:flex-row"> -->
                    
                    <div class="border border-grey-500 flex-auto w-50 mb-4 px-4 flex items-center justify-start">
                        <div class="flex justify-between">
                            <select name="action" class="border border-gray-300 px-2 py-2">
                                <option value="">Select</option>
                                <option value="update_status">Update Status</option>
                                <option value="add_tags">Add Tags</option>
                                <option value="remove_tag">Remove Tags</option>
                                <option value="delete">Delete</option>
                                <option value="assign_staff">Assign Staff</option>
                                <option value="update_traffic">Add Traffic</option>
                                <option value="update_services">Services</option>
                            </select>
                            <button type="submit" class="ml-2 bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">
                                Apply
                            </button>
                        </div>
                        <div class="px-2 text-xs"> Contacts:<span class="text- text-gray-700 bg-white p-1 rounded-xl"> {{ contacts.paginator.count }}</span></div>
                    </div>
                    
                <!-- </div> -->
            </form>

            <!-- Filter Selectin Form -->
            <form action="{% url 'filter_contact' %}" class="flex justify-end flex-wrap gap-4 mb-4 border border-gray-300">
                <!-- Render the filter form -->
                {{ filter_form.as_p }}
        
                <!-- Add a submit button -->
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Filter</button>
        
                <!-- Optional: Add a reset/clear filters button -->
                <a href="{% url 'contact_list' %}" class="text-sm text-gray-500 ml-2">Clear Filters</a>
            </form>
        </div>

        <!-- Search Form -->
        <div class="flex-auto w-50 md-1/2 mb-4 flex items-center justify-between px-6">
            
            <form method="get"  action="{% url 'search_contact' %}" class="flex justify-start flex-wrap gap-6 mb-4"">
                <button type="submit" class="bg-blue-500 hover:bg-gray-600 text-white  px-4 rounded">
                    Search
                </button>
                {{ search_form.as_p|safe }}
            </form>
            <a href="{% url 'add_contact' %}" class="ml-2 text-sm bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">
                Add New Contact
            </a>
        </div>
            <!-- View All Contacts Table -->
            <div class="overflow-x-auto rounded-lg shadow-lg">
                <table class="w-full bg-gray-50 border border-gray-300">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">ID</th>
                            <th class="py-3 px-4 border-r border-gray-200 text-left text-sm font-semibold w-12">
                                <input id="select-all" type="checkbox" class="rounded border-gray-300">
                            </th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Added On</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-60">Full Name</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Email</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Phone Number</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Date Of Birth</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Service</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-60">Trafick Source</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Status</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Tags (Verdict)</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-60">Assigned Staff</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Last Update</th>
                            <th class="py-3 px-4 text-left text-sm font-semibold w-40">Feedback</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr class="hover:bg-gray-100 transition duration-200">
                            <!-- ID -->
                            <td class="py-2 px-4 border-r border-b border-gray-200 text-sm"> {{contact.id}} </td>
                            <!-- Select -->
                            <td class="py-2 px-4 border-r border-b border-gray-200 text-sm">
                                <input type="checkbox" name="selected_contacts" value="{{ contact.id }}"
                                    class="rounded border-gray-300">
                            </td>
                            <!-- Added On -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">{{ contact.created_at|date:"d/m/Y" }} <br>
                                <span class="text-gray-400 text-xs"> by {{contact.created_by.get_full_name}}</span></td>
                            <!-- Full Name -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                <a href="{% url 'contact_detail' contact.id %}" class="text-gray-600 hover:underline">
                                    {{ contact.user.first_name }} {{ contact.user.last_name }}
                                </a>
                            </td>
                            <!-- Email -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">{{ contact.user.email }}</td>
                            <!-- Phone Number -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">{{ contact.phone_number }}</td>
                            <!-- Date Of Birth -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                {% if contact.date_of_birth %}
                                    {{ contact.date_of_birth|date:"d/m/Y" }}
                                {% else %}
                                    <span>None</span>
                                {% endif %}
                            </td>

                            <!-- Services -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">{{ contact.services }}</td>
                            <!-- Status -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                {% if contact.status %}
                                <a href="{% url 'contacts_by_status' contact.status.id %}"
                                    class="text-gray-600 hover:underline">
                                    {{ contact.status }}
                                </a>
                                {% else %}
                                <span>None</span>
                                {% endif %}
                            </td>
                            <!-- Tags -->
                            <td class="py-2 px-4 border-b border-gray-200 text-blue-500 text-sm">
                                {% for tag in contact.tags.all %}
                                <p>
                                    <a href="{% url 'contacts_by_tag' tag.id %}" class="text-gray-600 hover:underline">
                                        {{ tag.name }}
                                    </a>
                                </p>
                                {% empty %}
                                <span>No Tags</span>
                                {% endfor %}
                            </td>
                            <!-- Assigned Staff -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                {% if contact.assigned_staff %}
                                <a href="{% url 'contacts_by_assigned_staff' contact.assigned_staff.id %}"
                                    class="text-gray-600 hover:underline">
                                    {{ contact.assigned_staff.get_full_name }}
                                </a>
                                {% else %}
                                <span class="text-xs">Not Assigned</span>
                                {% endif %}
                            </td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                {% if contact.traffic_source %}
                                <a href="{% url 'contacts_by_traffic_source' contact.traffic_source.id %}" class="text-gray-600 hover:underline">
                                    {{ contact.traffic_source.name }}
                                </a>
                                {% else %}
                                <span class="text-xs">No Source</span>
                                {% endif %}
                            </td>
                            <!-- Last Updated -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">{{ contact.modified_at|date:"d/m/Y"}} <span
                                    class="text-blue-400 text-xs"> <br> by {{ contact.updated_by.get_full_name }} </span> </td>
                            <!-- Feedback -->
                            <td class="py-2 px-4 border-b border-gray-200 text-sm">
                                {{ contact.recent_feedback_log_title }}
                                <!-- <strong>Description:</strong> {{ contact.recent_feedback_log_description }} -->
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="py-4 text-center">No contacts found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <div class="bg-gray-600 py-2 px-4 border-b border-gray-200">
                    <span>Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</span>
                    {% if contacts.has_previous %}
                    <!-- <a href="?page={{ contacts.previous_page_number }}" class="text-gray-300 hover:underline">Previous</a> -->
                    <a href="?page={{ contacts.previous_page_number }}{% if query %}&query={{ query }}{% endif %}" class="text-gray-300 hover:underline">Previous</a>
                    {% endif %}
                    {% if contacts.has_next %}
                    <!-- <a href="?page={{ contacts.next_page_number }}" class="text-gray-300 hover:underline">Next</a> -->
                    <a href="?page={{ contacts.next_page_number }}{% if query %}&query={{ query }}{% endif %}" class="text-gray-300 hover:underline">Next</a>
                    {% endif %}
                </div>
            </div>
    </div>

    </div>
        
</div>




<!-- Modals -->
<div id="modal-container" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
   <!-- Update Status Modal -->
    <div id="update-status-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Update Status</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="update_status">
            <input type="hidden" name="selected_contacts" id="status-selected-contacts">
            <label for="status" class="block text-sm font-medium mb-2">Select Status:</label>
            {{ form.status|safe }} <!-- Using form_as_p to render the form -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Update
                </button>
            </div>
        </form>
    </div>

    <!-- Update Tag Modal -->
    <div id="add-tags-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Add Tags</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="add_tags">
            <input type="hidden" name="selected_contacts" id="tags-selected-contacts">

            <label for="status" class="block text-sm font-medium mb-2">Select tags:</label>
            {{ form.tags|safe }} <!-- Using form_as_p to render the form -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Update
                </button>
            </div>
        </form>
    </div>

 <!-- Remove Tag Modal -->
    <div id="remove-tags-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Remove Tags</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="remove_tags">
            <input type="hidden" name="selected_contacts" id="remove-tags-selected-contacts">

            <label for="tags" class="block text-sm font-medium mb-2">Select tags :</label>
            {{ form.tags|safe }} <!-- Using form_as_p to render the form -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Update
                </button>
            </div>
        </form>
    </div>

    <!-- Delete Contact Modal -->
    <div id="delete-contacts-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4 text-red-600">Delete Contacts</h3>
        <p class="mb-4">Are you sure you want to delete the selected contacts? This action cannot be undone.</p>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="delete">
            <input type="hidden" name="selected_contacts" id="delete-selected-contacts">
            
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">
                    Delete
                </button>
            </div>
        </form>
    </div>

    <!-- Assign Staff Modal -->
    
    <div id="assign-staff-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Assign Staff</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="assign_staff">
            <input type="hidden" name="selected_contacts" id="assign-staff-selected-contacts">
            <label for="assigned_staff" class="block text-sm font-medium mb-2">Select Staff:</label>
            {{ form.assigned_staff|safe }} <!-- Ensure this renders correctly -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Assign
                </button>
            </div>
        </form>
    </div>

    <!-- Traffic Source Modal -->
    
    <div id="traffic-source-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Update Traffic Source</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="traffic_source">
            <input type="hidden" name="selected_contacts" id="traffic-source-selected-contacts">
            <label for="traffic_source" class="block text-sm font-medium mb-2">Select Traffic Source:</label>
            {{ form.traffic_source|safe }} <!-- Ensure this renders correctly -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Update
                </button>
            </div>
        </form>
    </div>

    <!-- Service Modal -->
    
    <div id="services-source-modal" class="bg-white rounded-lg shadow-lg w-3/4 max-w-lg p-6 hidden">
        <h3 class="text-xl font-semibold mb-4">Update Service</h3>
        <form method="POST" action="{% url 'contacts_bulk_action' %}">
            {% csrf_token %}
            <!-- Hidden input for selected contacts -->
            <input type="hidden" name="action_type" value="services">
            <input type="hidden" name="selected_contacts" id="services-selected-contacts">
            <label for="services" class="block text-sm font-medium mb-2">Select Service:</label>
            {{ form.services|safe }} <!-- Ensure this renders correctly -->
            <div class="flex justify-end">
                <button type="button" onclick="closeModal()"
                    class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Update
                </button>
            </div>
        </form>
    </div>

</div>

<!-- Javascript -->
<script>
    const modalContainer = document.getElementById('modal-container');

    function openModal(modalId) {
        document.getElementById(modalId).classList.remove('hidden');
        modalContainer.classList.remove('hidden');
    }

    function closeModal() {
        modalContainer.classList.add('hidden');
        document.querySelectorAll('#modal-container > div').forEach(modal => modal.classList.add('hidden'));
    }

    // Attach event listeners to your form actions
    const actionSelect = document.querySelector('select[name="action"]');
    const form = document.querySelector('form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const action = actionSelect.value;
        const selectedContacts = Array.from(document.querySelectorAll('input[name="selected_contacts"]:checked')).map(checkbox => checkbox.value);
        if (selectedContacts.length === 0) {
            alert('No contacts selected.');
            return;
        }
        document.querySelectorAll('[id$="-selected-contacts"]').forEach(input => input.value = selectedContacts.join(','));

        switch (action) {
            case 'update_status':
                openModal('update-status-modal');
                break;
            case 'add_tags':
                openModal('add-tags-modal');
                break;
            case 'remove_tag':
                openModal('remove-tags-modal');
                break;
            case 'delete':
                openModal('delete-contacts-modal');
                break;
            case 'assign_staff':
                openModal('assign-staff-modal');
                break;
            case 'update_traffic':
                openModal('traffic-source-modal');
                break;
            case 'update_services':
                openModal('services-source-modal');
                break;
            default:
                alert('Invalid action selected.');
        }
    });

     document.getElementById("select-all").addEventListener("change", function () {
            const checkboxes = document.querySelectorAll('input[name="selected_contacts"]');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = this.checked;
            });
        });
</script>
{% endblock %}